/* 추천 맛집 개별 상세 */
.review-thumbnail {
	width: 182px;
	border: 1px solid #aaa;
	border-radius: 16px;
	padding: 16px;
	box-sizing: border-box;
	box-shadow: 4px 4px 8px 0 rgba(174, 174, 174, 0.5);
	background-color: white;
}

.special {
	border: 1px solid black !important;
}

.thumbnail {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin-bottom: 8px;
}

.thumbnail img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 150px;
	max-height: 150px;
	object-fit: cover;
}

.name {
	font-weight: 700;
	margin-bottom: 6px;
}

.score {
	margin-bottom: 6px;
	display: flex;
	align-items: flex-end;
	font-size: 14px;
}

.score span {
	margin-left: 4px;
}

.detail {
	width: 150px;
	height: 39px;
	font-size: 14px;
	color: #666;
	line-height: 1.4;
}
