/* src/UserProfile.css */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.font-size-selector {
  margin: 20px 0;
  text-align: center;
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
}

.slider {
  display: flex;
  align-items: center;
}

.slider-text {
  font-size: 20px;
  margin: 0 10px;
}

.range-slider {
  flex-grow: 1;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.button {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.button.highlight {
  background-color: #00ffcc;
}

.home-button {
  grid-column: span 2;
}
