.comment-write {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border: 0.2px solid gray;
  border-radius: 50px;
}

.comment-write input {
  padding: 5px;
  border: none;
  outline: none;
  width: 210px;
}

.comment-write button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  padding: 7px;
}
