@media (max-width: 480px) {
	.review-items {
		width: calc(50vw - 32px);
		border: 1px solid #aaa;
		border-radius: 8px;
		padding: 16px;
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 481px) {
	.review-items {
		width: calc(240px - 32px);
		border: 1px solid #aaa;
		border-radius: 8px;
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
}

.review-items .thumbnail {
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	overflow: hidden;
	margin-bottom: 16px;
}

.review-items .thumbnail img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}

.review-items .content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.review-items .content .img-wrap {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	aspect-ratio: 1;
	margin-right: 8px;
}

.review-items .content .img-wrap img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.review-items .content span {
	font-size: 0.9rem;
	font-weight: 500;
	width: calc(100% - 40px);
	text-align: right;

	overflow: hidden; /* 내용이 넘칠 경우 숨김 */
	display: -webkit-box; /* Flexbox 사용 */
	-webkit-box-orient: vertical; /* 세로 방향 설정 */
	-webkit-line-clamp: 2; /* 최대 2줄 표시 */
	line-clamp: 2;
}
