.upload-foam {
	display: flex;
	justify-content: center;
	border: 1px dashed rgb(80, 80, 80);
	margin: 16px;
	border-radius: 4px;
	padding: 16px;
}

.upload-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 8px;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.upload-input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.uploaded-image {
	max-width: 100%;
	border-radius: 4px;
}

/*별점*/
.star-rating {
	display: flex;
	justify-content: center;
}

.star {
	color: rgb(165, 165, 165);
	cursor: pointer;
	transition: color 0.2s;
}

input[type="radio"] {
	display: none; /* 라디오 버튼 숨기기 */
}

input[type="radio"]:checked ~ label {
	color: rgb(228, 168, 3);
}

#review-write {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#review-write > div {
	width: 100%;
}

#review-write .search-input {
	margin: 16px 0;
}

#review-write .search-list {
	width: 100%;
	overflow-y: scroll;
	max-height: 160px;
}

#review-write .search-list::-webkit-scrollbar {
	display: none;
}

#review-write .search-list li {
	margin-bottom: 12px;
	border-top: 1px solid #d9d9d9;
	padding: 8px 4px;
	margin: 0 16%;
}

#review-write .stars {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	margin-bottom: 8px;
}

#review-write textarea {
	width: calc(100% - 32px);
	padding: 8px;
	line-height: 1.3;
	border: 1px solid #d9d9d9;
	margin: 0 16px 8px;
	font-size: 16px;
	resize: none;
}

#review-write .selected-place-info {
	margin: 8px 0 4px;
	font-weight: 600;
}

#review-write .review-content {
	font-weight: 700;
	margin-bottom: 4px;
}

#review-write .submit-button {
	width: calc(100% - 32px);
	margin: 8px 16px 24px;
	padding: 8px 0;
	font-size: 16px;
	border: 0;
	border-radius: 50px;
	background-color: #836fff;
	color: white;
}
