.mypage-contents {
	margin-top: 24px;
	background: #fff;
	border-top: 1px solid #d9d9d9;
}

.mypage-tab-menu {
	display: flex;
	padding: 10px;
	justify-content: space-around;
}

.tab-button {
	padding: 10px;
	font-size: 16px;
	border: none;
	background: none;
	cursor: pointer;
	color: #929292;
}

.tab-button.active {
	font-weight: bold;
	color: black;
	border-bottom: 2px solid black;
}
