.profile-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	padding: 0 24px;
	margin: 32px 0;
}

.profile-box .profile-image-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-box .profile-img {
	width: 56px;
	height: 56px;
	overflow: hidden;
}

.profile-box .profile-img img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1;
	border-radius: 50%;
}

.profile-modify {
	margin: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	gap: 3px;
}

.profile-modify span {
	font-size: 12px;
}

.profile-modify-icon {
	font-size: 14px;
}

.profile-my-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.profile-my-info-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.profile-my-info-container p {
	width: calc(100vw - 48px - 96.88px - 20px);
	font-size: 14px;
	line-height: 1.3;
}

.profile-visit {
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 8px 0;
	text-align: center;
}
