.my-map-like {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 지도 컨테이너 스타일 추가 */
.map-container {
	position: relative; /* 위치를 상대적으로 설정하여 내부 요소의 배치를 조절 */
	width: 100%;
	height: calc(100vh - 56px - 88px - 70px); /* 지도의 높이를 뷰포트 높이의 90%로 설정 */
}

.my-map-like .search-input {
	margin: 16px 0;
}

.my-location {
	background-color: white;
	z-index: 1; /* 지도 위에 보이도록 설정 */
	padding: 8px;
	border-radius: 25px;
	border: none;
	position: fixed; /* 버튼을 화면에 고정 */
	bottom: 15vh; /* 화면의 하단에서 70px 위 */
	left: 20px; /* 화면의 오른쪽에서 20px 왼쪽 */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
}
