@media all and (max-width: 480px) {
  #place-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
    margin-bottom: 0;
  }

  #place-title h1 {
    font-size: 20px;
    font-weight: 700;
  }

  #place-title button {
    border: 1px solid black;
    border-radius: 18px;
    padding: 4px 14px;
    background-color: #836fff;
    color: white;
    font-size: 14px;
    font-weight: 300;
  }

  #place-list .place-content {
    padding: 24px;
    padding-right: 8px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }
  
  #place-list #place-item {
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0 rgba(174, 174, 174, 0.5);
    background-color: white;
    margin-right: 16px;
  }

  #place-list .thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    margin-bottom: 8px;
  }

  #place-list .name {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #place-list .address {
    margin-bottom: 8px;
    word-break: keep-all;
    overflow-wrap: break-word;
    word-wrap: break-word;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #place-list .detail {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
  }
}
